@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.w-1070{
    width: 1070px;
    margin:0 auto;
}

/********* header ********/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-family: "DM Sans", sans-serif;

}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

header nav ul a{
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.47px;

}

.header_active_link{
    color:black;
    border-bottom: 2px solid rgba(84, 84, 212, 1);

}

.header_button {
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: rgba(255, 113, 67, 1);
    border: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.53px;
    text-align: center;
    font-family: "DM Sans", sans-serif;

}

/************ hero ***********/

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;

}
.hero div h1{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 77px;
    letter-spacing: -2.5px;
    color: rgba(25, 25, 27, 1);

}

.hero div p{
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.63px;
    color: rgba(25, 25, 27, 1);
    margin: 50px 0 50px;
    width: 409.426025390625px;
    height: 90px;
    top: 261px;
}

.hero div button{
    width: 188.2111053466797px;
    height: 60px;
    border-radius: 10px;
    background: rgba(84, 84, 212, 1);
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.53px;
    text-align: center;
    border: none;
}
.features{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;
}

/* *********** index ********** */

.index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.index div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}
.index h1{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56px;
    color: rgba(25, 25, 27, 1);
}
.index p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 459px;
}
.index p a{
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.53px;
    color: rgba(84, 84, 212, 1);
}

/* ********** metrics ********** */

.metrics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 83px;
}
.metrics div{
    display: flex;
    width: 556px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.metrics h1{
    color: #19191B;
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}
.metrics p{
    color: #696871;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 409px;
}
.metrics p a{
    color: #5454D4;
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}


/* ********** cards ********** */
.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 159px;
    box-sizing: border-box;
    gap: 75px;
}
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .card h2 {
        color: #19191B;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px; /* 150% */
        letter-spacing: -0.75px;
    }

    .card p {
        color: #696871;
        text-align: center;
        font-family: Mulish, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.5px;
        width: 307px;
    }

    .calculator {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .calculator h2 {
        color: #19191B;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px; /* 150% */
        letter-spacing: -0.75px;
    }

    .calculator p {
        color: #696871;
        text-align: center;
        font-family: Mulish, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.5px;
        width: 307px;
    }

    .audit {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .audit h2 {
        color: #19191B;
        text-align: center;
        font-family: "DM Sans", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px; /* 150% */
        letter-spacing: -0.75px;
    }

    .audit p {
        color: #696871;
        text-align: center;
        font-family: Mulish, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: -0.5px;
        width: 307px;
    }
