*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
#Home{
    background-color: #1cb3cd;
}

#About{
    background-color: #bd0a0a;
}

#Info{
    background-color: #e46e0d;
}
p{
    width: 60%;
    font-size: 20px;
}

a{
    font-size: 65px;
    color: #73ff00;
}