@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}
h2{
    text-align: center;
    height: 10vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
.box{
    width: 245px;
    height: 290px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 25px;
}
.box_center{
    width: 245px;
    height: 290px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    border-radius: 25px;
}
.box_end{
    width: 245px;
    height: 290px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter',sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 25px;
}
.image{
    position: absolute;
    top: -30px;
}