@media screen and (min-width: 481px) and (max-width: 769px) {
   .container {
       display: flex;
       width: 768px;
       padding: 32px 24px;
       align-items: flex-start;
       gap: 10px;
   }
.box{
    width: 219px;
}

}