@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    width: 1400px;
    height: 692px;
    margin:0 auto;
    background: #24204A;
}
header{
    width: 1400px;
    height:113px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid black;

}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 65px;
}
h3{
    color: #E5E5E5;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
li{
    color: rgba(255, 255, 255, 1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top:51px;
}

/* **********  section  ********** */

.lamp{
    display: flex;
    justify-content: center;
    gap: 200px;
}

.lamp_box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;

}.one{
     color: var(-1, #8E88C1);
     font-family: Inter, sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 130%; /* 20.8px */
     letter-spacing: 0.8px;
     width: 570px;
     height: 85px;
     flex-shrink: 0;
 }

 img{
     width: 375px;
     height: 411px;
     flex-shrink: 0;
     margin: 48px 28px 25px 29px;
     border-radius: 8px;
     background: #827EAC;
     box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);

 }
 button{
     width: 200px;
     height: 56px;
     flex-shrink: 0;
     border-radius: 8px;
     background: #3F50E7;

     /* 1 */
     box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
 }
 h2{
     color: #FFF;
     font-family: Inter, sans-serif;
     font-size: 36px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 1.8px;
     width: 261px;
     color: rgba(255, 255, 255, 1);
 }
 .push{
     width: 145px;
     height: 41px;
     flex-shrink: 0;
     border-radius: 8px;
     background: #4B4864;
     display: flex;
     align-items: center;
     justify-content: center;
     color:#8E88C1 ;
 }

 /*  **********  section lorem  **********  */

.lorem{
    width: 1400px;
    height: 764px;
    margin:0 auto;
    flex-shrink: 0;
    background: #071341;
    padding: 50px 0 152px 0;
    box-sizing: border-box;

}

.next_box{
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_1{
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF6853;
}
.box_2{
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF537C;
}
.box_3{
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #80D2C4;
}
.box_4{
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #3F50E7;

}
.box_5{
    width: 56.144px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #95CB7C;

}


.text_1 ,.text_2 ,.text_3 ,.text_4 ,.text_5{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: var(--1, #8E88C1);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}


.h4_p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    margin-top: 50px;
}
h4{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
}
.h4_p>p{
    color: var(--1, #8E88C1);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

/*  **********  square  **********  */

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 50px;
}
.square>div{
    width: 209px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid var(--1, #8E88C1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     background: #071341;

}
.square>div>img{
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    background-color: #071341;

}
.square>div>p{
    width: 178px;
    color: var(--1, #8E88C1);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}

