body{
    margin: 0;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #008b8b;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    width: 750px;
    height: 450px;
    margin-top: 150px;

}
.box>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width:100%;
    background-color: #e9f3f3;
    border-radius: 10px;
}
.box>form{
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;

}
.box>form>input[type=text]{
    width: 400px;
    height: 35px;
}
.box>form>input[type=password]{
    width: 400px;
    height: 35px;
}
.box>form>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.box>form>div>input{
    width: 100px;
    height: 35px;
    border-radius: 12px;
    background-color: #e9f3f3;
}